{
  "presets": [
    ["react-app", {
      "absoluteRuntime": false
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-optional-chaining",
    "@babel/plugin-transform-nullish-coalescing-operator"
  ]
} 